<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Styde.net | Curso de VueJS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <template v-if="name">
                    <h1 v-show="name">{{ welcome_message }} , {{ name }}</h1>
                    <p>Tu nombre invertido: {{ name.split('').reverse().join('') }}</p>
                </template>
                <p v-else>Por favor escriba su nombre:</p>

                <label>Nombre:</label>
                <input type="text" v-model="first_name" class="form-control" />
                <label>Apellido</label>
                <input type="text" v-model="last_name" class="form-control" />
                <br/>

                <hr>

                <form>
                    <label>
                        Hombre: <input type="radio" v-model="genero" value="m" />    
                    </label>

                    <label>
                        Mujer: <input type="radio" v-model="genero" value="f" />    
                    </label>

                    <p v-show="name">
                        <button type="submit" class="btn btn-primary" v-on:click.prevent="singUp">
                            Registrate
                        </button>
                    </p>

                    <template v-for="t in tech">
                        <year-exp :tech="t.name" :year.sync="t.year"></year-exp>
                    </template>

                    <select class="form-control" v-model="techSelected">
                        <option v-for="tech in techNames" :value="tech" >{{ tech }}</option>
                    </select>

                    <pre>{{ $data | json }}</pre>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>

<script type="text/template" id="temp-exp">
    <div>
        <hr>
        <p>Cuantos años de experiencia tiene en {{ tech }}?</p>

        <p>Respuesta: <strong>{{ year }} </strong> </p>

        <button :class="{'btn btn-info' : true, 'btn btn-danger': year > 10}" :style="{'font-size': 10+year+'px'}" type="button" @click="add">+</button>
        <button class="btn btn-info" type="button" v-bind:disabled="year == 0" @click="rem">-</button>
        <br/>
    </div>
</script>

<script>
    Vue.component('year-exp', {
        template: '#temp-exp',
        props: ['year', 'tech'],
        methods: {
            add: function() {
                this.year++;
            },
            rem: function() {
                if (this.year > 0)
                    this.year--;
            }
        }
    })

    new Vue({
        el: '#app',
        data: {
            //name: "Teulys",
            genero: 'm',
            tech: [{
                name: 'PHP',
                year: 0
            }, {
                name: 'JAVA',
                year: 0
            }, {
                name: 'JS',
                year: 0
            }],
            techNames: ['PHP', 'Java', 'C#', 'JS', 'C++', 'C', 'Delphi'],
            year: 0,
            techSelected: 'PHP',
            first_name: '',
            last_name: ''
        },
        computed: {
            welcome_message: function() {
                return this.genero == 'm' ? 'Bienvenido' : 'Bienvenida';
            },
            name: function() {
                if (this.first_name || this.last_name)
                    return this.first_name + ' ' + this.last_name;

                return '';
            }
        },
        methods: {
            singUp: function() {
                alert("Ha iniciado sesion");
            },

            addYears: function() {
                this.year_php++;
            },

            remYears: function() {
                if (this.year_php > 0)
                    this.year_php--;
            },

            getFontStyle: function() {
                return 'font-size:' + (10 + this.year_java) + 'px';
            },

            addTech: function(tech, y) {
                t = {
                    name: tech,
                    year: y
                };
                this.tech.push(t);
            }
        }
    });
</script>

</html>